@import '../variables';

:host {
   position: relative;
   .selected-item {
      border-radius: 3px;
      border: 1px solid $primary-border;
      background: #FFFFFF;
      color: $primary-blue;
      font-weight: bold;
      padding: 10px 15px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      min-width: 130px;
      user-select: none;
      .label {
         width: calc(100% - 10px);
      }
      .arrow {
         width: 0px;
         height: 0px;
         border-left: 5px solid transparent;
         border-right: 5px solid transparent;
         border-top: 5px solid #1b6de0;
         margin-left: 10px;
         transition: .3s ease-in-out;
      }
   }
   .items {
      position: absolute;
      overflow: hidden;
      z-index: 1;
      width: 100%;
      padding: 0;
      margin: 0;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      .item {
         list-style: none;
         padding: 10px;
         cursor: pointer;
         background: #FFFFFF;
         color: #000;
         border: 1px solid $primary-border;
         user-select: none;
         &:hover {
            background: $primary-border;
         }
         &.selected {
            background: $primary-blue;
            color: #FFFFFF;
         }
         &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
         }
      }
   }
   &.open {
      .selected-item {
         .arrow {
            transform: rotate(-180deg);
         }
      }
   }
}
